<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Apodo</th>
      <th>Posicion</th>
      <th>Fecha nacimiento</th>
      <th>Goles</th>
      <th>Titular</th>
      <th>Extension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.nombre %></td>
        <td><%= player.apellido %></td>
        <td><%= player.apodo %></td>
        <td><%= player.posicion %></td>
        <td><%= player.fecha_nacimiento %></td>
        <td><%= player.goles %></td>
        <td><%= player.titular %></td>
        <td><%= player.extension %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
